# IDE Project Files
.vs/
*.user
/pc_client/client.ini
Build/
.cxx/
.gradle
.idea
gradle
bin
*.bak
teleport_commit.properties
keystore.properties
*.glsl
*.spirv
*.spv
*.hlsl
*.cso
*.sfxo
*.sfxb
*.tlog
*.log
*.recipe
*.FileListAbsolute.txt
*.pdb
*.o
build_docs/
build_pc_client/
build/
build_*/
.vscode/
CMake/
/binary_cache
/build_android_vs/AndroidClient/AndroidPackaging/app/src/main/assets
/client/VrSamples/VisualStudio/VisualStudio.Packaging
/libavstream/thirdparty/curl-7.74.0-android-arm64-v8a
