[submodule "thirdparty/basis_universal"]
	path = thirdparty/basis_universal
	url = ../basis_universal.git
[submodule "libavstream/thirdparty/efp"]
	path = libavstream/thirdparty/efp
	url = ../efp.git
[submodule "thirdparty/draco"]
	path = thirdparty/draco
	url = https://github.com/google/draco.git
[submodule "firstparty/teleport-unity"]
	path = firstparty/teleport-unity
	url = ../teleport-unity.git
[submodule "firstparty/Platform"]
	path = firstparty/Platform
	url = https://github.com/simul/Platform.git
[submodule "thirdparty/libdatachannel"]
	path = thirdparty/libdatachannel
	url = https://github.com/paullouisageneau/libdatachannel.git
[submodule "thirdparty/oboe"]
	path = thirdparty/oboe
	url = https://github.com/google/oboe.git
[submodule "firstparty/teleport-unreal"]
	path = firstparty/teleport-unreal
	url = ../teleport-unreal.git
[submodule "firstparty/teleport-nodejs"]
	path = firstparty/teleport-nodejs
	url = ../teleport-nodejs.git
